[Unit]
Description= Subscriber service

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/python3 /home/ubuntu/subscriber/trackingData.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
